<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div id = "page">
      <div id ="menu">
        <h1 class="title"><span id="userName"></span></h1>
        <center><input id="nameentry" style="display:none;"></input><center>
        <h1 class="status"><span id="userStatus"></span></h1>
         <center><input id="statusentry" style="display:none;"></input><center>
      </div>

      <div id = "chatslist">
        <div class="searchmessage">
        <input type="text" class="form-control" id="searchMessage" placeholder="Search for...">
      </div>
        <script type="x-template/underscore" id="contactView">
   			<div class = 'friend'>
            <img src="img/ava.png" id="ava">
            <label class='contact'><a class="single"><%= name %></a></label>
            <label class = 'contactStatus'><%= status %></label>
            <label class = 'lastActiveDate'><%= lastActiveDate %></label>
            <img id="trash" src="img/cross.png">
          </div>
        </script> 
      </div>
             
      <div id = "chat">
        <script type="x-template/underscore" id="messageView">
          <div>
            <input id="selected" type="checkbox" style="float:right;"></input>
            <label id = 'messageAuthor'><%= author%></label>  
            <label id = 'messageText' ><%= text%></label> 
            <img class="messageEdit" src="img/edit.png">
            <img class="messageDelete" src="img/trash.png">
            <img class="messageColor" src="img/color.png">   
            <label id = 'messageDate'><%= date%></label>  
          </div>
        </script> 
      </div>
      
      <div id = "textbox"> 
          <input type="text" id = "messageInput"></input>
          <img id="sendMessage" src="img/arrows.png" for="messageInput" style="width:40px;height:40px">
          <img id="deleteChat" src="img/trash.png">
          <img id="link" src="img/link.png">
          <img id="deleteall" src="img/deleteselected.png" style="width:40px;height:40px">
          <img id="colorall" src="img/colorall.png" style="width:32px;height:32px">
      </div>
      <div id = "smiley">
          <img id="smile" src="img/happy1.png">
          <img id="bus" src="img/happy2.png">
          <img id="blink" src="img/devil.png">
          <img id="crying" src="img/sad.png">
          <img id="laugh" src="img/surprised2.png">
          <img id="broken-heart" src="img/inlove.png">
          <img id="sleeping" src="img/cool.png">
          <img id="cap" src="img/kiss.png">
          <img id="thumsup" src="img/laughing.png">
          <img id="clown" src="img/sad2.png">
          <img id="bored" src="img/tongue.png">
      </div>
    </div>
  <script src="vendor/jquery.js"></script>
  <script src="vendor/json2.js"></script>
  <script src="vendor/underscore.js"></script>
  <script src="vendor/backbone.js"></script>
  <script src="vendor/backbone.radio.js"></script>
  <script src="vendor/backbone.marionette.min.js"></script>
  <script type="text/javascript" src="jquery.js"></script>
   <script type="text/javascript" src="localstorage.js"></script>
  <script type="text/javascript" src="backbonemodels.js"></script>
  <script type="text/javascript" src="marionetteviews.js"></script>
  <script type="text/javascript" src="app.js"></script>

  </body>
</html> 
