body {
	margin: 0;
	padding: 0;
	background: -webkit-linear-gradient(top left, #FDF5E6, white 45%) ;
}

#page {
	margin: 30px 210px 30px 210px;
	padding-top: 0px;
	padding-bottom: 50px;
	border: 2px solid #999900;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
	background-color: #FFFFF0;
}
#menu {
	widows: 100%;
	height: 50px;
	padding: 5px;
	background-color: #999900;
}

#menu .title {
	text-align: center;
	color: #FFFFF0;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
	font-size: 25px;
	margin: 0;
}

#menu .status {
	text-align: center;
	color: black;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
	font-size: 15px;
	margin: 0;
}

#menu img{
	float: right;
	width: 30px;
	margin-top: -40px;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
}

#menu img:hover{
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

#chatslist {
	float: left;
	width: 200px;
	height: 562px;
	margin: 2px 20px 0 20px;
	background-color: #FFFFF0;
	border-right: 1px solid #999900;
	overflow-y: auto;
}

#plus {
	width: 60px;
	margin: -10px 0 0 60px;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
}

#plus:hover {
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.contact {
	float: left;
	margin: 10px 100px 0 0px;
	text-align: center;
	color: black;
	font-size: 15px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

.contact a:hover {
	color: #999900;
}

.single.active{
	color: #999900;
}

.contactStatus {
	float: left;
	margin: -3px 100px 0 0px;
	text-align: center;
	color: gray;
	font-size: 10px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

.lastActiveDate {
	float: left;
	margin: -12px 100px 0 170px;
	text-align: center;
	color: gray;
	font-size: 8px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

#chatslist img{
	width: 10px;
	float: right;
	margin: -25px 8px 0 0px;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
}

#chatslist img:hover{
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}
#smiled{
	width:16px;
	background-color: red;
}
#chat {
	margin: 20px 20px 20px 240px;
	height: 400px;
	background-color: #FFFFF0;
	border-bottom: 1px solid #999900;
	overflow-y: auto;
}

#messageAuthor {
	width: 600px;
	float: left;
	margin: 10px 0px 1px 0px;
	color: red;
	font-size: 10px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

#messageText {
	width: 600px;
	float: left;
	margin: 0px 0px 1px 0px;
	font-size: 15px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

#messageDate {
	width: 600px;
	float: right;
	text-align: right;
	margin: -10px 0px 10px 0px;
	color: gray;
	font-size: 10px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

#chat img {
	width: 12px;
	height:12px;
	margin-left:5px;
	margin-top:10px;
	float:left;
}

#chat img:hover{
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

#messageText img {
	width: 30px;
	float: left;
	margin: 10px 0px 0px 3px;
}

#textbox {
	height: 100px;
	margin: 20px 20px 0 240px;
	background-color: #FFFFF0;
	/*border: 1px solid #999900;*/
}

#messageInput {
	border: 1px solid #999900;
	float: left;
	margin: 20px 10px 20px 20px;
	width: 250px;
	height: 50px;
}

#sendMessage {
	float: left;
	margin: 40px 0 0 0;
	text-align: center;
	color: black;
	font-size: 15px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

#sendMessage:hover {
	color: #999900;
}

#textbox input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 30px;
	height: 30px;
	margin: 30px 40px 0 30px;
	-webkit-transition: all 0.1s ease-out;
}

#textbox input[type="color"]:hover{
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

#textbox input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

#textbox img {
	width: 30px;
	margin: 30px 0px 0 0px;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
}

#textbox img:hover{
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

#smiley {
	height: 30px;
	margin-left: 250px;
}
#smiley img {
	width: 30px;
	margin: 5px 0 0 5px;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
}

#smiley img:hover{
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}


