body {
	margin: 0;
	padding: 0;
	
}

#page {
	margin: 10px 210px 30px 210px;
	padding-top: 0px;
	padding-bottom: 50px;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
	background-color: white;
}
#menu {
	widows: 100%;
	height: 50px;
	padding: 5px;
	background-color: #1ba8e0;
}

#menu .title {
	text-align: center;
	color: #FFFFF0;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
	font-size: 25px;
	margin: 0;
}

#menu .status {
	text-align: center;
	color: black;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
	font-size: 15px;
	margin: 0;
}

#menu img{
	float: right;
	width: 30px;
	margin-top: -40px;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
}

#menu img:hover{
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}
#searchmessage{
    width: 220px;
    height: 30px;
    background-color: #36445e;
    border: none;
    border-bottom:solid gray 1px;
}

#chatslist {
	float: left;
	width: 220px;
	height: 630px;
	margin: 0px 20px 0 0px;
	background-color: #36445e;
	
}

.friend{
	background-color: #36445e;
	height:70px;
	border-bottom: solid gray 1px;
}

.contact {
	float: left;
	margin: 10px 100px 0px 5px;
	text-align: center;
	color: white;
	font-size: 15px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

.contact a:hover {
	color: #f44336;
}

.single.active{
	color: #f44336;
}

.contactStatus {
	float: left;
	margin: 2px 100px 0px 5px;
	text-align: center;
	color: gray;
	font-size: 10px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

.lastActiveDate {
	float: left;
	margin: 2px 100px 0 190px;
	text-align: center;
	color: gray;
	font-size: 8px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}
#ava{
	width:40px;
	height:40px;
	float:left;
	margin:7px 0px 0px 10px;
}
#trash{
	width: 10px;
	float: right;
	margin: -43px 8px 0px 0px;
}

#trash:hover{
	cursor: pointer;
}
#smiled{
	width:16px;
	background-color: red;
}
#chat {
	margin: 20px 20px 20px 240px;
	height: 400px;
	background-color: #FFFFF0;
	border-bottom: 1px solid #1ba8e0;
	overflow-y: auto;
}

#messageAuthor {
	width: 600px;
	float: left;
	margin: 10px 0px 1px 0px;
	color: #1ba8e0;
	font-size: 10px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

#messageText {
	width: 600px;
	float: left;
	margin: 0px 0px 1px 0px;
	text-decoration: none;
	font-weight: 100;
}

#messageDate {
	width: 600px;
	float: right;
	text-align: right;
	margin: -10px 0px 10px 0px;
	color: gray;
	font-size: 10px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

#chat img {
	width: 12px;
	height:12px;
	margin-left:5px;
	margin-top:10px;
	float:left;
}

#chat img:hover{
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

#messageText img {
	width: 30px;
	margin: 10px 0px 0px 3px;
}

#textbox {
	height: 100px;
	margin: 20px 0px 0 240px;
	background-color: #FFFFF0;
	/*border: 1px solid #999900;*/
}

#messageInput {
	border: 1px solid #1ba8e0;
	float: left;
	margin: 20px 0px 20px 20px;
	width: 385px;
	height: 30px;
}

#sendMessage {
	float: left;
	margin: 40px 0 0 0;
	text-align: center;
	color: black;
	font-size: 15px;
	text-decoration: none;
	font-weight: 100;
	font-family: monospace;
}

#sendMessage:hover {
	color: #999900;
}



#textbox img {
	width: 30px;
	margin: 15px 0px 5px 5px;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
}

#textbox img:hover{
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

#smiley {
	height: 40px;
	margin-left: 250px;
}
#smiley img {
	margin: 5px 0 0 5px;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
}

#smiley img:hover{
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}


